$("#top_reason_to_<%=params[:pitch][:action] %>").prepend('<%=j raw (render :partial => "shared/pitches_list", :locals => {:objs => [@pitch], :company => @company, :child_objs => nil,:objs_text => nil, :child_objs_text => nil,:show_link => true, :show_ticker => false }).gsub!("\n", "") %>');
$("#add_reason_to_<%=params[:pitch][:action]%>_link_slide_down").toggle("slideDown(1000)");
//$('.scroll-pane').jScrollPane();
$("#flash-message-custom").html('<div class="success"><p><span class="close-btn"><a href="#" class="close-btn" ><img src="/assets/close-btn.png" class="close-btn" alt=""></a></span><%= @msg %></p></div>');
$("#flash-message-custom").show();

setTimeout(function(){
    $("#flash-message-custom").hide();
},5000);
