
$("#pitch_item_<%= @pitch.id %>").html('<%=j render :partial => 'shared/pitch_item', :locals => {:cobj => @pitch, :text_val => nil,
                                                           :child_objs_present => nil,
                                                           :child_objs => nil,
                                                           :child_objs_text => nil,
                                                           :comments_count => @pitch.comments.count,
                                                           :comments => true, :show_link => true, :refresh_div => false,
                                                           :show_ticker => false,
                                                       		:position => 0} %>');


//$('.scroll-pane').jScrollPane();
$("#flash-message-custom").html('<div class="success"><p><span class="close-btn"><a href="#" class="close-btn" ><img src="/assets/close-btn.png" class="close-btn" alt=""></a></span><%= @msg %></p></div>');
$("#flash-message-custom").show();

setTimeout(function(){
    $("#flash-message-custom").hide();
},1000);