<ul class="accountul">
  <li><%= link_to "Privacy", "#.",:id => "privacy_lnk"%></li>
  <li><%= link_to "Email Preferences", "#.",:id => "email_lnk"%> </li>
  <li><%= link_to "Credits", credits_users_path %></li>
</ul>