
<div id="middle-container">
  <div class="row">
    <div class="content-area">
      <h2 class="page-title">Forgot your password?</h2>

      <div class="sign-container">


<%= form_for(resource, :as => resource_name, :url => password_path(resource_name),:validate => true, :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

   <p><label class="lbltxt">Your Email</label><em>*</em><br>
            <label class="input-box">
              <%= f.email_field :email, :autofocus => true, :class => "inputbox input-required", :validate => { :presence => true } %>
            </label>
          </p>

  <div><%= f.submit "Send me reset password instructions" %></div>
<% end %>


      </div>
      <!-- end of sign container -->


      <div class="clr"></div>
    </div>

  </div>
</div><!-- end of middle contaienr -->
