<% if user_signed_in? %>
  <% unless current_user.following?(obj) %>
    <div class="reg-follow-btn" >
    
      <%= link_to 'Follow'.html_safe, follow_link,:method => 'put', :remote => true %>
    
    </div>
  <% else %>
    <div class="reg-follow-btn" >
    
      <%= link_to 'Unfollow'.html_safe, unfollow_link,:method => 'put', :remote => true %>
    
    </div>
  <% end %>
<% end %>

