	<div class="row">
        	<div class="content-area">
                <h2 class="page-title">About Us</h2>
                <div class="about-container">
                <h1>Market Powered Real-time Stock Analysis</h1>
				  <p>AlphaPitch is a repository of collective genius of the market to help investors make more money.  The site is designed by two former Wall Street equity research analysts who wanted to level the playing field by bringing a real-time investment intelligence platform to all market participants.  The platform is designed for investors who have little time for biased institutional reports or inflammatory message boards.</p>

                  <h1>Company Page: Stock Information Organized by Stock</h1>
                  <p>AlphaPitch was designed for writers to publish content easily and readers to access real-time insights quickly.  The information on this page is in the same style that a big-wig hedge-fund portfolio manager is accustomed to seeing from his supporting juniors – and now we bring the same investment process to you:</p>

                  <ul>
                    <li>
                        <strong>Long-Pitch and Short-Pitch: Reasons to Buy/Sell.</strong>  These sections highlight why a stock is either long or short — in other words, tell me in less than two minutes why I should or shouldn’t invest in XYZ Company.  These insights are voted up or down by the community to keep less relevant comments at bottom.  <em>In short, writers who provide insights supported by facts/data are more likely to receive visibility and rank higher in the “Top Contributor” section.</em></br>
                    </li>
                    <li>
                        <strong>Burning Q&As: Ask the community a question about the company or its industry.</strong>  The more interesting the question, more likely it will be answered and receive credit for asking.</br>
                    </li>
                    <li>
                        <strong>AlphaBlips are 140 Character Rant.</strong> Blips are first glance insights that are short, sweet and to the point – about the length of this bullet.</br>
                    </li>
                    <li>
                        <strong>“Top Contributors” section gives guru status to ten members who provide the most insightful content on the company page.</strong>  The more AlphaPoints you earn credit, the greater the ranking, and more likely you will gain a following in the community.</br>
                    </li>
                    <li>
                        <strong>User Profile: the goal for a contributor is to provide powerful content.</strong>  As you provide more insightful content, your influence grows within the community and you gain hundreds of followers. As your “guru” status grows, other users begin to follow all your contributions from questions to pitches.  Enjoy the attention because you earned it!
                    </li>
                </ul>
            </br></br>
                <h1>Editorial Process for Submitted Contents</h1>
                <p>Editors at AlphaPitch will select outstanding and value-added articles from authors for publication on our site.  Our editors may edit approved articles for clarity, consistency and impact - however, we would never edit the content in such a way as to change to the weight or direction of the recommendation being made. 
                    
                    Our approval and editorial process is as follows:

                The submitted article must adhere to our terms and conditions as well as disclosure policies.
                Articles must contain an actionable recommendation - meaning the author must take long or short position in the article.
                Articles must be related to the company it is posted under. We like to see three types of articles when reviewing for approval: news analysis, fundamental analysis and macro analysis. News analysis is detailed fundamental analysis of current news that impacts the valuation of the company in near/long term, fundamental analysis is company or industry specific analysis that weighs factual data using accepted financial tools to arrive at reasonable and logical investment recommendation.  For macro analysis, we consider whether the article is helpful in orienting the readership in forming a high-level view for the industry or sector using economic, political, and other data.
                Articles must be written rigorously with proper references for sourced facts or graphs.
                Articles are limited to 5,000 characters in length.
                We do not publish articles on pink-sheet or OTC equity stocks.
            
                Authors must disclose personal positions in stocks they write about.
                </p>
                </div>
                <!-- end of blog-container -->
                
                
                
                
                
                
                <p style="height:200px;">&nbsp;</p>
            
            <div class="clr"></div>
            </div>            
            
        </div>
