
  <div class="row">
          <div class="content-area">
                <h2 class="page-title">Contact Us</h2>
                <div class="about-container">
          <p>We are here to make your new idea generation process fun, informative, and bug-free.  If there is anything you would like us to fix or change, please send us an email at <%= mail_to 'support@alphapitch.com' %>.   Thank you. </p>
                </div>
                <!-- end of blog-container -->
                
                
                
                
                
                
                <p style="height:200px;">&nbsp;</p>
            
            <div class="clr"></div>
            </div>            
            
        </div>
