<div class="row">
    <div class="content-area">
        <h2 class="page-title">Terms of Use and Privacy Policy</h2>
        <div class="about-container">
            <h1>LAST UPDATED: January 28, 2014</h1>
            <p>Thank you for using AlphaPitch.com ("AlphaPitch, “Service”, “we”, or “us”).  BY USING THE SERVICE, THE USER (“You”, or “Contributor”) AGREES TO THE TERMS OF USE AND ALPHAPITCH’s PRIVACY POLICY JUST AS IF YOU HAD SIGNED THIS AGREEMENT. IF YOU DO NOT AGREE TO BE BOUND BY THE TERMS OF SERVICE, PLEASE DO NOT USE THE SERVICE. USE OF THE SERVICE SIGNIFIES YOUR CONSENT TO THE TERMS OF USE AND THE PRIVACY POLICY.</p>
            <p>PLEASE READ THESE TERMS CAREFULLY AS THEY CONTAIN IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS, REMEDIES AND OBLIGATIONS. THESE INCLUDE VARIOUS LIMITATIONS AND EXCLUSIONS.</p>
            <ol>
                <li>
                    SPECIAL NOTE FOR PEOPLE UNDER EIGHTEEN YEARS OF AGE</br>
                    This Site is not intended for people under the age of eighteen and Users under this age may not use the Service.  If AlphaPitch comes to know that the user is under eighteen, the account may be canceled without prior notice.
                </li>
                <li>TERMS OF USE</br>
                    AlphaPitch.com reserves the right to change the Terms and Conditions from time to time, for any reason. The changes may be provided to you by any reasonable means, including without limitation by posting the new version of the Terms and Conditions. When using the Service, you agree that you are subject to any additional posted guidelines, rules, terms and conditions applicable to the Service, which are hereby incorporated by reference into this Agreement. 
                    AlphaPitch grants you a limited, revocable, nonexclusive license to access and use the Service and the Content for your own personal use. This license does not include any collection, aggregation, copying, duplication, display or derivative use of the Service nor any use of data mining, robots, spiders, or similar data gathering and extraction tools for any purpose unless expressly permitted by AlphaPitch in writing. A limited exception is provided to general purpose internet search engines and non-commercial public archives that use such tools to gather information for the sole purpose of displaying hyperlinks to the Service. In order to collect, aggregate, copy, duplicate, display or make derivative use of the Service or any Content made available via the Service for other purposes (including commercial purposes) not stated herein, you must first obtain a written license from AlphaPitch.


                </li>
                <li>SECURITIES DISCLAIMER</br>
                    <p>AlphaPitch provides software platform for investment content provided by users. The content providers may hold long or short positions in or derivatives of companies and are free to buy or sell those positions at will. At times, the users may take positions inconsistent with the views expressed. The content available on the AlphaPitch platform contains the users’ own opinions, and none of the information contained therein constitutes a recommendation that any particular security, portfolio of securities, transaction, or investment strategy is suitable for any specific person.</p>
                    <p>To reiterate, no content published on AlphaPitch constitutes a recommendation that any particular security, portfolio of securities, transaction or investment strategy is suitable for any specific person. You further understand that none of the users, information providers, or their affiliates are advising you personally concerning the nature, potential, value or suitability of any particular security, portfolio of securities, transaction, investment strategy or other matter. To the extent that any of the content published on the Site may be deemed to be investment advice or recommendations in connection with a particular security, such information is impersonal and not tailored to the investment needs of any specific person. </p>
                    <p>You understand that an investment in any security is subject to a number of risks, and that discussions of any security published on the Site will not contain a list or description of any or all relevant risk factors. In addition, please note that some of the stocks about which content is published on the Site have a low market capitalization and/or insufficient public float. Such stocks are subject to more risk than stocks of larger companies, including greater volatility, lower liquidity and less publicly available information. Postings on the Site which may or may not be deemed by you to be recommendations may have an effect on their stock prices.</p>
                    <p>You understand and agree that you should not solely base your investment decision on the information obtain from AlphaPitch, you should form your own investment opinion and verify "facts" presented in the user submitted analysis.</p>


                </li>
                <li>ALPHAPITCH WILL NEVER BE A REPLACEMENT FOR PROFESSIONAL ADVICE</br>
                    <p>AlphaPitch is not intended to provide tax, legal, insurance or investment advice, and nothing on the Site should be construed as an offer to sell, a solicitation of an offer to buy, or a recommendation for any security by AlphaPitch or any third party. You alone are solely responsible for determining whether any investment, security or strategy, or any other product or service, is appropriate or suitable for you based on your investment objectives and personal and financial situation. You should consult an attorney or tax professional regarding your specific legal or tax situation. </p>


                </li>
                <li>DATA SUPPLIED BY SOURCES BELIEVED TO BE reliable</br>
                    <p>You understand that performance data is supplied by sources believed to be reliable, that the information herein is made using such data, and that such calculations are not    guaranteed by these sources, the information providers, or any other person or entity, and may not be complete.</p>
                    <p>Further, users may rely on third party data that may be incomplete, incorrect, or not current.  Even if the previously published information is correct, the data may become stale with market volatility and should not be relied upon.  All content on the site is presented only as of the date published or indicated, and may be superseded by subsequent market events or for other reasons. </p>
                </li>
                <li>LINKS TO OTHER SITES
                    <p>AlphaPitch contains links to other Internet websites or links to content created by third parties which is published on AlphaPitch.com. We neither control nor endorse such other websites or Content, nor have we reviewed or approved any content that appears on such other websites or on our Site. Please read the terms of use and privacy policy of any such third party sites that you interact with before you engage in any activity.  You are solely responsible and liable for your use of and linking to all third party sites. </p>
                    <p>You acknowledge and agree that we shall not be held responsible for the legality, accuracy, or appropriateness of any content, advertising, products, services, or information located on our Site or any other websites, nor for any loss or damages caused or alleged to have been caused by the use of or reliance on any such content. We are not responsible for any loss or damages caused or alleged to have been caused by their use. </p>
                    <p>AlphaPitch takes no responsibility for advertisements or any third party material posted on the Service, nor does it take any responsibility for the products or services provided by advertisers. Any dealings you have with advertisers found while using the site are between you and the advertiser, and you agree that AlphaPitch is not liable for any loss or claim that you may have against an advertiser.</p>

                </li>
                <li>USER SUBMISSIONS 
                    <p>By uploading files, inputting data, submitting content (including without limitation, pitches, comments, blips, Q&A or other postings) or engaging in any other form of communication through AlphaPitch you are granting AlphaPitch a royalty-free, irrevocable, transferable, perpetual, non-exclusive, unrestricted, worldwide license to (i) use, copy, sublicense (through multiple tiers), adapt, edit, modify, translate, reformat, distribute, transmit, publicly perform, display, reproduce or create derivative works from any such content in any form of media or technology now known or later developed or invented, and (ii) sublicense to third parties the unrestricted right to exercise any of the foregoing rights granted. For your submitted content, you represent and warrant that you have all rights necessary for you to grant the license granted in this section, and that such content, and your provision thereof to and through the Service, complies with all applicable laws, rules and regulations.</p>
                    <p>You may not write about a stock with the intention to boost or reduce the stock's price and sell (or buy) the stock into the resulting strength or weakness.</p>
                </li>
                <li>USER CONDUCT
                    <ul>
                        <li> You may not use, copy, display, sell, license, republish, upload, post, transmit, distribute, create derivative works or otherwise exploit content of other users on AlphaPitch.</li>
                        <li>You may not use, a user name (or email address) or screen name that may be construed as impersonating another person; that belongs to another person; that violates the intellectual property or other rights of any person; that is offensive; or that we reject for any other reason in our sole discretion.</li>
                        <li>Use the Site for any unlawful purpose;</li>
                        <li>Express or imply that any statements you make are endorsed by us, without our prior written consent;</li>
                        <li>Use any robot, spider, site search/retrieval application, or other manual or automatic device or process to download, retrieve, index, "data mine", "scrape", "harvest" or in any way reproduce or circumvent the navigational structure or presentation of the Site or its contents;</li>
                        <li>Harvest or collect information about visitors to the Site without their express consent;</li>
                        <li>Send unsolicited or unauthorized advertisements, spam, chain letters, etc to other users of the Site;</li>
                        <li>Transmit any content which contains software viruses, or other harmful computer code, files or programs.</li>
                        <li>You also agree to comply with all applicable laws, rules and regulations in connection with your use of the Site and the content made available therein.</li>
                        <li>In order to access some of the services of the Site, you will have to create an account. By creating this account you agree to the following:</li>
                        <ol>
                            <li>You may never share your account user name or password or knowingly provide or authorize access to your account;</li>
                            <li>You may never use another user's account without permission;</li>
                            <li>When creating your account, you must provide accurate and complete information;</li>
                            <li>You are solely responsible for the activity that occurs on your account, and you must keep your account password secure;</li>
                            <li>You must notify us immediately of any breach of security or unauthorized use of your account;</li>
                            <li>You will be liable for any use made of your account or password and the losses of AlphaPitch or others due to such unauthorized use. We will not be liable for your losses caused by any unauthorized use of your account.</li>
                            <li>AlphaPitch has the right to terminate your access to the Site, in its sole discretion.</li>
                        </ol>
                    </ul>
                </li>
                <li>REGULATORY COMPLIANCE
                    <p>You agree to insure that any information disseminated pursuant to the service, whether such dissemination is made (a) by you or on your behalf by a person authorized to disseminate information on your behalf or (b) otherwise, in any case, complies with all statutes, rules, regulations, orders or other governmental acts of any jurisdiction, whether foreign or domestic, including without limitation, (i) the Securities Act of 1933, as amended, including the rules and regulations promulgated thereunder, (ii) the Securities and Exchange Act of 1934, as amended, including Rule 10b-5 and the other rules and regulations promulgated thereunder, (iii) Regulation FD promulgated by the Securities and Exchange Commission, (iv) regulations promulgated by FINRA, and (v) any rules of any national or other securities exchange, including, without limitation, the New York Stock Exchange, the American Stock Exchange or the NASDAQ.</p>
                </li>
                <li>POSTING CONTENT; MONITORING CONTENT
                <p>AlphaPitch permits the submission of Content by users of the Site and it has the right in its sole discretion and without further notice to you, to monitor, censor, edit, move, delete, and/or remove any and all Content posted on its Site or any Content at any time and for any reason. Without limiting the foregoing, AlphaPitch has the right to delete any comment or Content that it believes, in its sole discretion, does or may violate the TOU of the Site by you.</p>
                <p>User-generated content restrictions and AlphaPitch’s right to remove content that we believe is out of content and scope for the website.  We have zero tolerance for:  hatred, pornography or pedophilia, direct or veiled threats against any person or group of people, copyright infringement, publishing of private and confidential information, impersonation of others intended to mislead others, promotion of dangerous and illegal activities, spamming, link-spamming or transmitting malware and viruses, personal attacks, profanity or vulgarity, business solicitations or advertising, and/or unethical or misleading behavior. </p>
                <p>When using the site, please be certain that anything you say does not compromise your personal safety. Do not provide your name, phone number, postal or e-mail address, your password, or any other personally identifying information to people you do not know. Do not continue any conversation online that makes you feel uncomfortable. Please note that AlphaPitch has no control over, and shall have no liability for any damages resulting from, the use (including without limitation republication) or misuse by any third party of information voluntarily made public through any communication or any other part of the Service. If you choose to make any of your content personally identifiable or other information publicly available on the site, you do so at your own risk.</p>
                </li>
                <li>DISCLAIMER OF ANY WARRANTY
                <p>ALPHAPITCH DOES NOT REPRESENT OR WARRANT THAT ALPHAPITCH IS FREE OF INACCURACIES, ERRORS, BUGS, OR INTERRUPTIONS, OR ARE RELIABLE, ACCURATE, COMPLETE, OR OTHERWISE VALID. ALPHAPITCH IS PROVIDED "AS IS" WITH NO WARRANTY, EXPRESS OR IMPLIED, OF ANY KIND AND ALPHAPITCH EXPRESSLY DISCLAIMS ANY AND ALL WARRANTIES AND CONDITIONS, INCLUDING, BUT NOT LIMITED TO, ANY IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AVAILABLILTIY, SECURITY, TITLE AND/OR NON-INFRINGEMENT. YOUR USE OF ALPHAPITCH IS AT YOUR OWN DISCRETION AND RISK, AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE THAT RESULTS FROM THE USE OF THE SITE INCLUDING, BUT NOT LIMITED TO, ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA. </p>
                </li>
                <li>LIMITATION OF LIABILITY
                <p>ALPHAPITCH SHALL NOT, UNDER ANY CIRCUMSTANCES, BE LIABLE TO YOU FOR ANY INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL OR EXEMPLARY DAMAGES ARISING OUT OF OR IN CONNECTION WITH USE OF ALPHAPITCH, WHETHER BASED ON BREACH OF CONTRACT, BREACH OF WARRANTY, TORT (INCLUDING NEGLIGENCE, PRODUCT LIABILITY OR OTHERWISE), OR ANY OTHER PECUNIARY LOSS, WHETHER OR NOT ALPHAPITCH HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. UNDER NO CIRCUMSTANCES SHALL ALPHAPITCH BE LIABLE TO YOU FOR ANY AMOUNT. </p>
                </li>
                <li>HOLD HARMLESS AND INDEMNITY
                <p>To the maximum extent permitted by applicable law, you agree to hold harmless and indemnify AlphaPitch and its subsidiaries, affiliates, officers, agents, licensors, co-branders or other partners, and employees from and against any third party claim arising from or in any way related to your use of the site, including any liability or expense arising from all claims, losses, damages (actual and/or consequential), suits, judgments, litigation costs and attorneys' fees, of every kind and nature. AlphaPitch shall use good faith efforts to provide you with written notice of such claim, suit or action.</p>
                </li>
                <li>TRADEMARKS AND COPYRIGHT COMPLAINTS
                <p>AlphaPitch and the AlphaPitch logo are trademarks of MindLabs LLC, Inc. and all other trademarks, service marks and trade names used on the Service are the property of their respective owners, and all of the above trademarks may not be copied, downloaded or otherwise exploited without the permission of AlphaPitch or the owner of such trademark, service mark or trade name, except as explicitly permitted. </p>
                <p>We respect the intellectual property rights of others and we prohibit AlphaPitch Users from posting or otherwise transmitting on the site any materials that violate another party's intellectual property rights. If you believe that your work has been copied in a way that constitutes copyright infringement, or your intellectual property rights have been otherwise violated, please notify us at support@alphapitch.com:</p>
                <p>AlphaPitch reserves all rights to remove the infringing posting(s), and will comply with procedures outlined in the Digital Millennium Copyright Act.</p>
                </li>
            </ol>
        </div>
        <!-- end of blog-container -->
        
        
        
        
        
        
    
    <div class="clr"></div>
    </div>            
        
</div>
