<% if can?(:create, Risk) %>
  <div class="form-box">
  	<p><%= link_to "Add Risk", "#.", :id => 'company_risk_slide', :class => "readmore-link" %></p>
    <%= render :partial => 'risks/add_risk', :locals => {:risk => Risk.new} %>
  </div>
<% end %>

<div id="risks_list">
  <%= render :partial => 'companies/risks_list', :locals => {:risks => risks, :company => @company} %>
</div>