<h4>Top Reason to Sell</h4>
<div id="by_reasons" class="span12 scroll">
  <% @company.pitches.sell_pitch.each do |pitch| %>
    <div><%= pitch.title %></div>
  <% end %>
</div>

<p>
  <%= link_to "Write Reason to Sell", new_pitch_company_path(@company) %>
</p>