<h4>Top Reason to Buy</h4>
<div id="by_reasons" class="span12 scroll">
  <% @company.pitches.buy_pitch.each do |pitch| %>
    <div><%= pitch.title %></div>
  <% end %>
</div>

<p>
  <%= link_to "Write Reason to Buy",  new_pitch_company_path(@company) %>
</p>