

  <div class="login-banner-container">
    <div class="row">
      <div class="login-banner-txt">
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at aliquam massa.</h2>

        <h3>Praesent aliquet ipsum nec mattis cursus. Integer sit amet pulvinar dolor. Pellentesque gravida massa
          lectus, vel porttitor diam laoreet eget. Etiam dapibus nisl in iaculis dictum. Sed id convallis risus.</h3>

        <div class="register-btn"><%= link_to 'Register Today!!!!', new_user_registration_path, :class => "reg-btn-link", :id => "signup" %>

        </div>

      </div>
    </div>
  </div>
  <!-- end of login-banner-container -->
  <div class="clr"></div>

  <div class="login-btm-container">
    <div class="row">

      <div class="login-box">
        <p>
          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical'}) do |f| %>
          <center>
            <div>
              <%= f.email_field :email, :placeholder => "E-Mail", :autofocus => true %>
              <%= f.password_field :password, :placeholder => "**********" %>
              <input name="submit" type="submit" class="button medium  brown" value="Submit">
            </div>
          </center>

        <% end %>
        <p><span class="remember-span"> <input type="checkbox"> Remember Me</span>
          <span class="forgot-span"><a href="devise/shared/links">Forgot Password?</a></span></p> </center>

        <div class="clr"></div>
      </div>

    </div>
    <!-- end of login-btm-container -->
  </div>
</div>

