

  <div class="login-banner-container">
    <div class="row">
      <div class="login-banner-txt">
        <h2>Welcome To AlphaPitch</h2>

        <h3>AlphaPitch.com provides stock market research and analysis to help investors make informed buy/sell decisions.  AlphaPitch.com is the source for new investment ideas. The site was designed for investors to write and access real-time insights easily and quickly.</h3>

        <div class="register-btn"><%= link_to 'Register Today!!!!', new_user_registration_path, :class => "reg-btn-link", :id => "signup" %>

        </div>

      </div>
    </div>
  </div>
  <!-- end of login-banner-container -->
  <div class="clr"></div>

<div class="login-btm-container">
  <div class="row">
      <div class="login-box">
        <p>
          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :validate => true, :html => {:class => 'form-vertical'}) do |f| %>
          <center>
            <div>
              <%= f.email_field :email, :placeholder => "E-Mail", :autofocus => true %>
              <%= f.password_field :password, :placeholder => "password" %>
              <input name="submit" type="submit" class="button medium  brown" value="Submit">
            </div>
          </center>

          <% end %>
        </p>
        <p>
          <span class="remember-span">
            <input type="checkbox"> Remember Me
          </span>
          <span class="forgot-span">
            <a href="devise/shared/links">Forgot Password?</a>
          </span>
        </p> 

        <div class="clr"></div>
      </div>

  </div>
    <!-- end of login-btm-container -->
</div>

