<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>AlphaPitch</title>
  <meta name="apple-touch-fullscreen" content="yes"/>

  <link rel="shortcut icon" href="assets/favicon.ico">

  <%= stylesheet_link_tag "application" %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>

  <%= javascript_include_tag "application" %>


  <script>
    $(function () {
      $("#datepicker").datepicker();
      $("#format").change(function () {
        $("#datepicker").datepicker("option", "dateFormat", $(this).val());
      });
    });
  </script>
</head>

<body>

<div id="wrapper">

  <header>
    <div class="header-top">
      <div class="row">
        <div class="logodiv"><h1><a href="index.html"><img src="/assets/logo.png" alt="AlphaPitch"></a></h1></div>


      </div>
    </div>
    <!-- end of header top -->
  </header>
  <!-- end of header -->
  <div style="padding-top: 100px;">
    <%= yield %>
  </div>
  </div>








    <footer id="footer">
    <div class="row">
      <div class="footerlinks"><a href="about">About</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/terms">Terms and Conditions</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/contact">Contact Us</a>
      &nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://plus.google.com/117469077138187492036" rel="publisher">Google+</a></div>
      <div class="footer-copy"><p>Copyright&copy; 2014. All Rights AlphaPitch.</p></div>

    </div>
  </footer>

  <script type="text/javascript">

    $(".close-btn").click(function(){
      $("#flash-message-custom").hide();
      $("#flash-message").hide();
    });
  </script>

</div>
</body>
</html>