<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>AlphaPitch</title>
  <meta name="apple-touch-fullscreen" content="yes"/>

  <link rel="shortcut icon" href="assets/favicon.ico">

  <%= stylesheet_link_tag "application" %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>

  <%= javascript_include_tag "application" %>


  <script>
    $(function () {
      $("#datepicker").datepicker();
      $("#format").change(function () {
        $("#datepicker").datepicker("option", "dateFormat", $(this).val());
      });
    });
  </script>
</head>

<body>

<div id="wrapper">

  <header>
    <div class="header-top">
      <div class="row">
        <div class="logodiv"><h1><a href="index.html"><img src="/assets/logo.png" alt="AlphaPitch"></a></h1></div>

        <div class="top-tickers">

          <div class="tickers-div">
            <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();" scrollamount=3>
              <% MostActiveTicker.get_active_companies.each do |active_ticker| %>
                <%= link_to active_ticker.company.ticker, '#' %> &nbsp;
              <% end %>
            </marquee>
          </div>
        </div>


        <div class="clr"></div>

        <nav class="navdiv" style="margin: 27px 0 0 0;">
          <ul class="navul">
            <li><a href="#" class="active">Nav Link 1</a></li>
            <li><a href="#">Nav Link 2</a></li>
            <li><a href="#">Nav Link 3</a></li>
            <li><a href="#">Nav Link 4</a></li>
            <li><a href="#">Nav Link 5</a></li>
            <li><a href="#">Nav Link 6</a></li>
            <li><a href="#">Nav Link 7</a></li>
            <li><a href="#">Nav Link 8</a></li>
          </ul>
        </nav>


      </div>
    </div>
    <!-- end of header top -->
  </header>
  <!-- end of header -->
<%= yield %>
         </div>
  <footer id="footer">
    <div class="row">
      <div class="footerlinks"><a href="#">Footer Link1</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Footer Link2</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Footer Link1</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Footer Link3</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Footer Link4</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Footer Lin5</a></div>
      <div class="footer-copy"><p>Copyright&copy; 2013. All Rights AlphaPitch.</p></div>
    </div>
  </footer>

  <script type="text/javascript">

    $(".close-btn").click(function(){
      $("#flash-message-custom").hide();
      $("#flash-message").hide();
    });
  </script>

</div>
</body>
</html>