/* #Reset & Basics (Inspired by E. Meyers)
================================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  word-wrap: break-word;
}

html, body { height: 100%; margin: 0; }
#container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto 8em;
}
#footer, #push {
  height: 8em;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &:before, &:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote {
  &:before, &:after {
    content: '';
    content: none;
  }
}

q {
  &:before, &:after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clr {
  clear: both;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.txtleft {
  text-align: left;
}

.txtcenter {
  text-align: center;
}

/* #Basic Styles
================================================== */

body {
  background: #f3f3f4;
  font: 14px / 21px "dhelvetica", sans-serif;
  color: #222;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

/* #Typography
================================================== */

h1, h2, h3, h4, h5, h6 {
  color: #000;
  // font-family: 'vag_roundedbold';
  font-family: 'dhelvetica';
  font-weight: bold;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

/*    Blockquotes  */

blockquote {
  font-size: 17px;
  line-height: 24px;
  color: #777;
  font-style: italic;
  p {
    font-size: 17px;
    line-height: 24px;
    color: #777;
    font-style: italic;
  }
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #ddd;
  cite {
    display: block;
    font-size: 12px;
    color: #555;
    &:before {
      content: "\2014 \0020";
    }
    a {
      color: #555555;
      &:visited {
        color: #555555;
      }
    }
  }
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

/* #Links
================================================== */

a {
  color: #3b5998;
  text-decoration: none;
  outline: 0;
  /*-webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear;*/
  &:visited {
    color: #3b5998;
    text-decoration: none;
    outline: 0;
    /*-webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear;*/
  }
  &:hover, &:focus {
    color: #222222;
  }
}

p a {
  line-height: inherit;
  &:visited {
    line-height: inherit;
  }
}

/* #Lists
================================================== */

ul, ol {
  margin: 0;
}

ul {
  list-style: none outside;
}

ol {
  list-style: decimal;
  margin-left: 30px;
}

ul {
  &.square, &.circle, &.disc {
    margin-left: 30px;
  }
  &.square {
    list-style: square outside;
  }
  &.circle {
    list-style: circle outside;
  }
  &.disc {
    list-style: disc outside;
  }
  ul li, ol li {
    margin: 0;
    padding: 0;
  }
}

ol {
  ol li, ul li {
    margin: 0;
    padding: 0;
  }
}

li {
  line-height: 18px;
}

/* #Images
================================================== */

img.scale-with-grid {
  max-width: 100%;
  height: auto;
}

/* #Buttons
================================================== */

/* Fix for odd Mozilla border & padding issues */

button::-moz-focus-inner, ::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*----*****---- << Buttons >> ----*****----*/

.button {
  line-height: normal;
  display: inline-block !important;
  *display: inline;
  zoom: 1;
  margin: 0px 0px 0px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  border: 0;
  &:hover {
    opacity: 0.8;
    filter: alpha(opacity = 80);
  }
  &.medium {
    padding: 6px 10px;
    font-size: 14px;
  }
  &.small {
    padding: 4px 8px;
    font-size: 11px;
  }
  &.brown, &.blue {
    background: #3b5998;
    color: #ffffff;
  }
  &.yellow {
    background: #ffc956;
    color: #3d3d3d;
  }
  &.pink {
    background: #c34258;
    color: #ffffff;
  }
  &.green {
    background: #61a760;
    color: #ffffff;
  }
  &.violet {
    background: #343b67;
    color: #ffffff;
  }
  &.mustard {
    background: #a38036;
    color: #ffffff;
  }
  &.turquoise {
    background: #42c2a2;
    color: #ffffff;
  }
}

input[type=submit]:disabled,
button:disabled {
  border: 0;
  padding: 6px 10px;
  opacity: 0.5;
  filter: alpha(opacity = 50);
}

.medium-buttons .button {
  margin-bottom: 10px;
  margin-right: 20px;
}

.small-buttons .button {
  margin-right: 7px;
}

input {
  &.button, &[type="submit"], &[type="button"] {
    overflow: visible;
    /* remove padding from left/right */
    width: auto !important;
  }
}

.clear-fix:after {
  clear: both;
  content: "";
  display: block;
  visibility: hidden;
}

.row {
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
  margin: 0 auto;
  max-width: 980px;
  width: 100%;
}

/* Home base */

#wrapper {
  margin: 0 auto;
  padding: 0;
}

.header-top {
  margin: 0;
  padding: 0;
  background: #3b5998;
  height: 124px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.logodiv {
  margin: 20px 0 0 0;
  padding: 0;
  float: left;
  width: 29%;
}

.top-search-div {
  margin: 25px 0 0 0;
  padding: 0;
  float: left;
  width: 40%;
  .top-search {
    margin: 0;
    padding: 0;
    background: transparent;
    pointer-events: none;
    -webkit-border-radius: 2px 2px 2px;
    border-radius: 2px 2px 2px;
  }
  .search-input {
    pointer-events: auto;
    margin: 0;
    padding: 5px;
    color: #666;
    font-size: 14px;
    border: 0;
    background: #fff;
    float: left;
    width: 88%;
    display: inline-block;
  }
  .search-btn {
    margin: 0 5px 0 0;
    padding: 15px 20px;
    background: transparent url(/assets/search-btn.png) no-repeat right center;
    float: right;
    width: 8%;
    height: 13px;
    border: 0;
    display: inline-block;
    cursor: pointer;
  }
}

.top-tickers {
  margin: 0;
  padding: 0;
  background: #f3f3f3;
  border-bottom: 1px solid #3b5998;
  .tickers-div {
    padding: 5px;
    font-size: 14px;
    color: #3b5998;
    font-weight: normal;
    font-family: 'MatrixditRegular';
  }
}

.top-login-space {
  margin: 25px 0 0 0;
  padding: 0;
  float: left;
  width: 30%;
  text-align: right;
  .top-link {
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 100;
    text-align: left;
    float: right;
    &:before {
      content: "";
      display: table;
    }
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    zoom: 1;
    li {
      float: left;
      position: relative;
      margin-right: 1px;
      z-index: 1000;
      color: #9aa9c8;
      font-size: 12px;
      &:first-child {
        background: none;
      }
    }
    a {
      &.username-pic {
        background: url(/assets/username-pic.png) no-repeat left center;
        padding-left: 20px;
      }
      padding: 0;
      color: #9aa9c8;
      text-decoration: none;
      font-size: 12px;
      font-weight: bold;
      text-align: left;
      &.active {
        float: left;
        padding: 0;
        color: #fff;
        text-decoration: none;
        padding: 0;
      }
    }
    li:hover > a {
      color: #fff;
    }
  }
}

/*
.top-login-space p { text-align:right;color:#ff7201; font-size:12px;}
.top-login-space a { color:#ff7201; font-size:12px;}
.top-login-space a:hover { color:#fff;}*/

* html .top-login-space .top-link li a:hover {
  /* IE6 only */
  color: #fff;
}

.top-login-space .top-link {
  ul {
    margin: 0px 0 0 0;
    _margin: 0;
    /*IE6 only*/
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 9999!important;
    background: #fff;
    border-bottom: 0px solid #666;
    -moz-box-shadow: 0 4px 5px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 4px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 5px 0px rgba(0, 0, 0, 0.5);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-shadow: none;
  }
  li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
  }
  ul {
    ul {
      top: 0;
      left: 150px;
      margin: 0 0 0 0px;
      _margin: 0;
      /*IE6 only*/
      z-index: 100;
      border: 0;
    }
    li {
      float: none;
      display: block;
      border: 0;
      _line-height: 0;
      /*IE6 only*/
      border-bottom: 1px solid #e5e5e5;
      border-right: 0;
      z-index: 100;
      margin: 0;
      &:last-child {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        background: none;
        border: 0;
      }
    }
    a {
      color: #666;
      padding: 7px 10px 7px 10px;
      margin: 0;
      text-align: left;
      width: 150px;
      _height: 10px;
      /*IE6 only*/
      display: block;
      white-space: nowrap;
      float: none;
      text-transform: none;
      font-size: 13px;
      font-weight: normal;
      text-shadow: none!important;
      border-right: 0;
      z-index: 1000;
      line-height: normal;
      &:hover {
        background-color: #677dac;
        background-image: none;
        color: #fff;
      }
    }
    li:first-child > a:after {
      content: '';
      position: absolute;
      left: 40px;
      top: -6px;
    }
    ul li:first-child a:after {
      left: -6px;
      top: 50%;
      margin-top: -6px;
    }
    li:first-child a:hover:after {
      border-bottom-color: #2e2e2e;
    }
    ul li:first-child a:hover:after {
      border-bottom-color: transparent;
    }
    li:last-child! > a {}
  }
}

.navdiv {
  margin: 18px 0 0 0;
  padding: 0;
  background: #d8dfea;
  border-bottom: 1px solid #3b5998;
}

/*-----------------------------------------------------------------------
   Nav styles
 ------------------------------------------------------------------------ */

.navul {
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 100;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 100;
  }
  width: 100%;
  margin: 0px auto;
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  zoom: 1;
  li {
    float: left;
    position: relative;
    margin-right: 1px;
    z-index: 100;
    background: url(/assets/nav-dividar.png) no-repeat left center;
    &:first-child {
      background: none;
    }
    .arrowdown {
      margin: 0;
      padding: 0;
      float: right;
      width: 10px;
      height: 10px;
      position: absolute;
      right: 30px;
      top: 50px;
      background: url(/assets/arrow-down.png) no-repeat right top;
      display: block;
    }
  }
  a {
    float: left;
    padding: 0 10px 0 10px;
    color: #222222;
    text-decoration: none;
    font-family: 'pt_sansregular';
    font-size: 14px;
    line-height: 39px;
    &.active {
      float: left;
      padding: 0;
      color: #fff;
      background: #3b5998;
      text-decoration: none;
      padding: 0 10px 0 10px;
    }
  }
  li:hover > a {
    color: #fff;
    background: #3b5998;
  }
}

* html .navul li a:hover {
  /* IE6 only */
  color: #fff;
  background: #3b5998;
}

.navul {
  ul {
    margin: 0px 0 0 0;
    _margin: 0;
    /*IE6 only*/
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 9999!important;
    background: #fff;
    -moz-box-shadow: 0 4px 5px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 4px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 5px 0px rgba(0, 0, 0, 0.5);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-shadow: none;
  }
  li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
  }
  ul {
    ul {
      top: 0;
      left: 150px;
      margin: 0 0 0 0px;
      _margin: 0;
      /*IE6 only*/
      z-index: 100;
      border: 0;
    }
    li {
      float: none;
      display: block;
      border: 0;
      _line-height: 0;
      /*IE6 only*/
      border-bottom: 1px solid #ccc;
      border-right: 0;
      z-index: 100;
      margin: 0;
      &:last-child {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        background: none;
        border: 0;
      }
    }
    a {
      color: #666;
      padding: 7px 10px 7px 10px;
      margin: 0;
      text-align: left;
      width: 200px;
      _height: 10px;
      /*IE6 only*/
      display: block;
      white-space: nowrap;
      float: none;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: normal;
      text-shadow: none!important;
      border-right: 0;
      z-index: 1000;
      line-height: normal;
      &:hover {
        background-color: #6d84b4;
        background-image: none;
        color: #fff;
      }
    }
    li:first-child > a:after {
      content: '';
      position: absolute;
      left: 40px;
      top: -6px;
    }
    ul li:first-child a:after {
      left: -6px;
      top: 50%;
      margin-top: -6px;
    }
    li:first-child a:hover:after {
      border-bottom-color: #2e2e2e;
    }
    ul li:first-child a:hover:after {
      border-bottom-color: transparent;
    }
    li {
      &:last-child! > a {}
      .child-nav {
        margin: 0;
        padding: 0;
        float: right;
        width: 10px;
        height: 10px;
        position: absolute;
        right: 20px;
        top: 12px;
        background: url(/assets/child-nav-arrow.png) no-repeat right top;
        display: block;
      }
      ul {
        margin: 0px 0 0 0;
        _margin: 0;
        /*IE6 only*/
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 200px;
        z-index: 9999!important;
        background: #fff;
        -moz-box-shadow: 0 4px 5px 0px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0 4px 5px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 0 4px 5px 0px rgba(0, 0, 0, 0.5);
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        text-shadow: none;
      }
    }
  }
}

#middle-container {
  clear: both;
  margin: 0;
  padding: 160px 0 100px 0;
  position: relative;
  z-index: 10;
}

.top-stock-search {
  margin: 0;
  padding: 10px;
  border: 1px solid #c5c5c5;
  background: #fff;
  .stock-div {
    margin: 0;
    padding: 0;
    float: left;
    width: 60%;
  }
  .search-box {
    margin: 0;
    padding: 0;
    float: left;
    width: 39%;
  }
  .stock-div {
    h2 {
      margin: 0;
      padding: 0;
      font-family: 'vag_roundedbold';
      color: #e67405;
      font-size: 28px;
      line-height: 30px;
      display: inline-block;
    }
    h3 {
      margin: 0;
      padding: 0;
      font-family: 'vag_roundedbold';
      color: #ff7201;
      font-size: 28px;
      line-height: 30px;
      display: block;
    }
    .sub-title {
      margin: 0;
      padding: 0;
      color: #3a3938;
      font-size: 14px;
    }
    .arrow-down {
      margin: 0;
      padding: 0;
      background: url(/assets/stock-updown.png) no-repeat left -18px;
      height: 16px;
      width: 17px;
      display: inline-block;
    }
    .arrow-up {
      margin: 0;
      padding: 0;
      background: url(/assets/stock-updown.png) no-repeat left top;
      height: 16px;
      width: 17px;
      display: inline-block;
    }
  }
}

.search-div {
  margin: 10px 0 0 0;
  padding: 0;
  border: 2px solid #a4acb2;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-size: 14px;
  color: #737373;
  font-weight: normal;
  background: #dee5e8;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #dee5e8 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dee5e8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #dee5e8 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #dee5e8 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #dee5e8 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, white 0%, #dee5e8 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dee5e8',GradientType=0 );
  /* IE6-9 */
  position: relative;
  width: 380px;
  float: left;
  .search-input {
    margin: 0;
    padding: 10px;
    border: 0;
    background: none;
    font-size: 14px;
    color: #737373;
    font-weight: normal;
    position: relative;
    float: left;
    width: 330px;
    line-height: 100%;
  }
  .search-button {
    margin: 0;
    padding: 0;
    background: url(/assets/search-btn.png) no-repeat right top;
    width: 46px!important;
    height: 41px!important;
    float: left;
    border: 0;
    cursor: pointer;
    position: relative;
    line-height: 100%;
    z-index: 100;
  }
}

.panels-box {
  clear: both;
  margin: 30px 0 30px 0;
  padding: 0;
}

.left-panel {
  margin: 0 15px 0 0;
  padding: 0;
  float: left;
  width: 25%;
}

.middle-panel {
  margin: 0 15px 0 0;
  padding: 0;
  float: left;
  width: 45%;
}

.middle-margin {
  margin-bottom: 50px!important;
}

.right-panel {
  margin: 0 15px 0 0;
  padding: 0;
  float: left;
  width: 25%;
}

.box-col {
  margin: 0 0 10px 0;
  padding: 0;
  h3 {
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 14px;
    border-bottom: 2px solid #3b5998;
    text-transform: uppercase;
  }
  .box-col-div {
    margin: 5px 0 0 0;
    padding: 10px;
    background: #fff;
    p {
      margin: 0;
      padding: 0 0 10px 0;
      font-size: 12px;
      color: #222;
      line-height: normal;
    }
    ul, ol {
      margin: 0 0 0 20px;
      padding: 0;
    }
    ul li, ol li {
      margin: 0;
      padding: 0;
      font-size: 12px;
      line-height: 18px;
    }
  }
}

.middleh3 {
  line-height: 24px;
  margin-top: -3px !important;
}

.box-col .box-col-div .box-input {
  margin: 0;
  padding: 5px;
  background: #f4f4f4;
  border: 1px solid #ccc;
  color: #5e5e5e;
  font-size: 12px;
  width: 98%;
}

.readmore-link {
  margin: 0;
  padding: 0;
  color: #3b5998;
  font-size: 12px;
  &:hover {
    color: #e21c00;
    text-decoration: underline;
  }
}

.small-follow-btn {
  margin: 0 0 0 10px;
  padding: 0 0 0px 0;
  display: inline-block;
  position: relative;
  top: -4px;
  a {
    margin: 0;
    padding: 0;
    background: url(/assets/small-follow-btn.png) no-repeat left top;
    width: 51px;
    height: 24px;
    display: inline-block;
    &:hover {
      background: url(/assets/small-follow-btn.png) no-repeat left -23px;
    }
  }
}

.box-col-topreason {
  margin: 5px 0 0 0;
  padding: 0;
  p {
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 12px;
    color: #222;
    line-height: normal;
  }
  .rows-div {
    margin: 0 0 5px 0;
    padding: 10px;
    background: #fff;
  }
}

.voting-arrow {
  margin: 0 5px 0 0;
  padding: 0;
  float: left;
  position: relative;
  top: 5px;
  text-align: center;
  a {
    &.voting-up-arrow {
      margin: 0 0 0 0;
      padding: 0  2px 0 2px;
      background: #d2d2d2 url(/assets/voting-up-arrow.png) no-repeat center 5px;
      display: block;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      text-align: center;
      &:hover {
        background: #3b5998 url(/assets/voting-up-arrow.png) no-repeat center -40px;
      }
    }
    &.voting-down-arrow {
      margin: 0;
      padding: 0  2px 0 2px;
      background: #f4f4f4 url(/assets/voting-down-arrow.png) no-repeat center 5px;
      display: block;
      text-align: center;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      &:hover {
        background: #3b5998 url(/assets/voting-down-arrow.png) no-repeat center -40px;
      }
    }
  }
  .numbers {
    font-size: 10px;
    font-weight: bold;
    color: #3b5998;
    text-align: center;
    padding: 15px 0 0 0;
    display: inline-block;
    letter-spacing: -1px;
    &:hover {
      color: #fff;
    }
  }
}

.voting-arrow-horizontal {
  margin: 0 5px 0 0;
  padding: 0;
  float: left;
  position: relative;
  top: 5px;
  .voting-with-number {
    margin: 0;
    padding: 0;
  }
  a {
    &.voting-up-arrow {
      margin: 0;
      padding: 0;
      background: #d2d2d2 url(/assets/up-arrow.png) no-repeat 5px 5px;
      display: inline-block;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      float: left;
      width: 35px;
      height: 20px;
      &:hover {
        background: #3b5998 url(/assets/up-arrow-hover1.png) no-repeat 5px 5px;
      }
    }
    &.voting-down-arrow {
      margin: 0 0 0 3px;
      padding: 0  2px 0 2px;
      background: #f4f4f4 url(/assets/down-arrow.png) no-repeat center 5px;
      display: block;
      text-align: center;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      float: left;
      width: 10px;
      &:hover {
        background: #3b5998 url(/assets/down-arrow-hover1.png) no-repeat no-repeat center 5px;
      }
    }
  }
  .numbers {
    font-size: 10px;
    font-weight: bold;
    color: #3b5998;
    letter-spacing: -1px;
    display: inline-block;
    position: relative;
    top: -3px;
    padding: 0 0 0 15px;
    &:hover {
      color: #fff;
    }
  }
}

.box-col-topreason .rows-div .rows-txt {
  margin: 0;
  padding: 0;
  float: left;
  width: 90%;
}

.box-col-div {
  margin: 5px 0 0 0;
  padding: 0;
  p {
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 12px;
    color: #222;
    line-height: normal;
  }
  .rows-div {
    margin: 0 0 5px 0;
    padding: 0;
    background: #f4f4f4;
    .rows-txt, .rows-txt-hr {
      margin: 0;
      padding: 0;
      float: left;
      width: 74%;
    }
  }
}

.topreason-input-txt {
  margin: 20px 0 0 0;
  padding: 0;
  .input-txt {
    margin: 0;
    padding: 5px;
    background: #f4f4f4;
    float: left;
    width: 100%;
    .user-icon {
      img {
        margin-right: 10px;
      }
      margin: 0 10px 0 0;
      padding: 0 0 0 5px;
      border-right: 1px solid #c1c1c1;
    }
    input {
      margin: 0;
      padding: 0;
      width: 89%;
      border: 0;
      color: #222222;
      font-size: 12px;
      background: none;
    }
  }
}

.qa-container {
  margin: 0;
  padding: 10px;
  background: #fff;
  .qa-row {
    margin: 0 0 20px 0;
    padding: 0;
    .ask-qs-txt {
      margin: 0 0 5px 0;
      padding: 0;
      border-bottom: 2px solid #ccc;
    }
  }
}

.question-ans-container {
  margin: 20px 0;
  padding: 0;
  .question-txt {
    margin: 0;
    padding: 0;
  }
  p {
    margin: 0;
    padding: 0 0 5px 0;
    line-height: 18px;
  }
}

.qa-container p {
  color: #222;
  font-size: 12px;
  line-height: normal;
}

.question-ans-container {
  .question-div:before, .answers-div:before, .question-div:after, .answers-div:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
  }
  .question-div:after, .answers-div:after {
    clear: both;
  }
  .question-div {
    margin: 0;
    padding: 10px;
  }
  .answers-div {
    margin: 0;
    padding: 10px;
    border: 1px solid #ccc;
    background: #F3F3F4;
    .answers-txt {
      margin: 0;
      padding: 0;
    }
  }
}

.qa-input-txt {
  margin: 20px 0 0 0;
  padding: 0;
  .input-txt {
    margin: 0;
    padding: 5px;
    background: #f4f4f4;
    float: left;
    width: 100%;
    .user-icon {
      margin: 0 10px 0 0;
      padding: 0 0 0 5px;
      border-right: 1px solid #c1c1c1;
    }
    input {
      margin: 0;
      padding: 0;
      width: 90%;
      border: 0;
      color: #222222;
      font-size: 12px;
      background: none;
    }
  }
}

/* Footer */

#footer {
  margin: 0;
  padding: 20px 0 30px 0;
  background: #d8dfea;
  border-top: 5px solid #3b5998;
  position: relative;
  z-index: 10;
}

.footerlinks {
  margin: 0;
  padding: 0 0 10px 0;
  text-align: center;
  color: #3b5998;
  font-size: 14px;
  a {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #3b5998;
    font-size: 14px;
    &:hover {
      color: #222;
      text-decoration: underline;
    }
  }
}

.footer-copy {
  margin: 0;
  padding: 0;
  text-align: center;
  p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #3b5998;
    font-size: 14px;
  }
}

/* Slide div */

.slide-div {
  clear: both;
  margin: 0;
  padding: 5px;
  width: 100%;
  position: relative;
  border: 1px solid #ccc;
  span {
    margin: 0;
    display: inline-block;
    font-size: 12px;
    line-height: normal;
    padding-bottom: 3px;
  }
  .slide-input {
    margin: 0 0 5px 0;
    padding: 5px;
    background: #fff;
    border: 1px solid #ccc;
    width: 96%;
  }
  .slide-textarea {
    margin: 0 0 5px 0;
    padding: 5px;
    background: #fff;
    border: 1px solid #ccc;
    height: 50px;
    width: 96%;
  }
  .slide-select, .slide-select1 {
    margin: 0 0 5px 0;
    padding: 5px;
    background: #fff;
    border: 1px solid #ccc;
    width: 96%;
  }
  .slide-input-med {
    margin: 0 0 5px 0;
    padding: 5px;
    background: #fff;
    border: 1px solid #ccc;
    width: 80%;
    display: inline-block;
  }
  .slide-icon {
    display: inline-block;
    position: relative;
    top: 5px;
  }
}

.comment-link, .share-link {
  margin: 0;
  padding: 0;
  color: #8297c3;
  font-size: 12px;
  font-weight: bold;
}

.comments-container {
  margin: 0 0 0 22px;
  padding: 0;
  .comments-div {
    margin: 0;
    padding: 10px;
    background: #edeff4;
    border: 1px solid #ccc;
  }
  .comment-box {
    clear: both;
    margin: 0;
    padding: 0 0 15px 0;
    &:before {
      display: table;
      line-height: 0;
      content: "";
    }
    &:after {
      display: table;
      line-height: 0;
      content: "";
      clear: both;
    }
    .user-thumb {
      margin: 0;
      padding: 0;
      float: left;
      display: inline-block;
      width: 8%;
    }
    .comment-input {
      margin: 0;
      padding: 0;
      float: left;
      display: inline-block;
      width: 100%;
      .inputbox {
        margin: 0;
        padding: 5px;
        border: 1px solid #ccc;
        background: #fff;
        width: 100%;
      }
    }
    .comment-btn {
      margin: 0;
      padding: 0;
      float: left;
      display: inline-block;
      width: 27%;
    }
    .comment-text {
      margin: 0 0 5px 0;
      padding: 0 0 5px 0;
      float: left;
      display: inline-block;
      width: 92%;
      border-bottom: 1px solid #ccc;
      .title {
        font-weight: bold;
        margin: 0;
        padding: 0;
      }
      .normal-txt {
        margin: 0;
        padding: 0;
      }
    }
  }
  .comment-reply-div {
    margin: 0 0 0 29px;
    padding: 0;
    p {
      margin: 0 0 10px 0;
      padding: 0;
    }
  }
  .comment-reply-box {
    clear: both;
    margin: 0;
    padding: 0 0 10px 0;
    &:before {
      display: table;
      line-height: 0;
      content: "";
    }
  }
  comment-reply-box:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .comment-reply-box {
    &:after {
      clear: both;
    }
    .reply-input {
      margin: 0;
      padding: 0;
      float: left;
      display: inline-block;
      width: 52%;
      .inputbox {
        margin: 0;
        padding: 5px;
        border: 1px solid #ccc;
        background: #fff;
        width: 100%;
      }
    }
    .reply-btn {
      margin: 0;
      padding: 0;
      float: left;
      display: inline-block;
      width: 25%;
    }
    .reply-links {
      margin: 0;
      padding: 0;
      float: left;
      display: inline-block;
      width: 22%;
    }
  }
  .reply-thid-level {
    margin-left: 32px!important;
  }
}

.comments-alphablip-container {
  margin: 0;
  padding: 0;
  .comments-div {
    margin: 0;
    padding: 10px;
    background: #fff;
    border: 1px solid #ccc;
  }
  .comment-box {
    clear: both;
    margin: 0;
    padding: 0 0 15px 0;
    &:before {
      display: table;
      line-height: 0;
      content: "";
    }
    &:after {
      display: table;
      line-height: 0;
      content: "";
      clear: both;
    }
    .user-thumb {
      margin: 0;
      padding: 0;
      float: left;
      display: inline-block;
      width: 20%;
    }
    .comment-input {
      margin: 0;
      padding: 0;
      float: left;
      display: inline-block;
      width: 100%;
      .inputbox {
        margin: 0;
        padding: 5px;
        border: 1px solid #ccc;
        background: #fff;
        width: 100%;
      }
    }
    .comment-btn {
      clear: both;
      margin: 5px 0 0 20%;
      padding: 0;
      float: left;
      display: inline-block;
      width: 100%;
    }
  }
}

.text-editor-container {
  margin: 0;
  padding: 5px;
  border: 1px solid #ccc;
  p {
    margin: 0;
    padding: 0;
    label {
      margin: 0;
      padding: 0;
      font-size: 12px;
      font-weight: bold;
    }
  }
  .inputbox {
    margin: 0;
    padding: 5px;
    border: 1px solid #ccc;
    background: #fff;
    width: 98%;
  }
  .textarea, .selectbox {
    margin: 0 0 10px 0;
    padding: 5px;
    border: 1px solid #ccc;
    background: #fff;
    width: 98%;
  }
  a {
    font-weight: bold;
    font-size: 12px;
  }
}

.selectbox-global {
  margin: 0 0 10px 0;
  padding: 2px;
  border: 1px solid #cfcfcf;
  font-size: 14px;
  color: #222;
  background: #e7e7e7;
}

.selectbox-global-full {
  margin: 0 0 10px 0;
  padding: 2px;
  border: 1px solid #cfcfcf;
  font-size: 14px;
  color: #222;
  background: #e7e7e7;
  width: 90%;
}

/*
.scroll-pane {width: 100%;height: 200px;overflow: auto;}
.horizontal-only{height: auto;max-height: 200px;}
*/

.qa-container .qa-row {
  .left-box {
    margin: 0 5px 0 0;
    padding: 0;
    float: left;
    width: 7%;
    color: #222;
    font-size: 12px;
    line-height: normal;
  }
  .user-thumb {
    margin: 0 5px 0 0;
    padding: 0;
    float: left;
    width: 4%;
    color: #222;
    font-size: 12px;
    line-height: normal;
  }
  .right-box {
    margin: 0;
    padding: 0;
    float: left;
    width: 90%;
    color: #222;
    font-size: 12px;
    line-height: normal;
  }
  .left-box .q-title {
    margin: 0 0 5px 0;
    padding: 0;
    width: 100%;
    /*float:left;*/
  }
  .answer-comment-box {
    clear: both;
    margin: 0 0 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    .textarea, .inputbox {
      margin: 0;
      padding: 5px;
      border: 1px solid #ccc;
      background: #fff;
      width: 100%;
    }
    .answer-btn {
      margin: 5px 0;
      padding: 0;
      float: left;
      display: inline-block;
      width: 27%;
    }
    &:before, &:after {
      display: block;
      content: "";
      width: 0;
      height: 0;
    }
  }
  .comments-row {
    &:before, &:after {
      display: block;
      content: "";
      width: 0;
      height: 0;
    }
  }
  .answer-comment-box:after, .comments-row:after {
    clear: both;
  }
  .qs-comments-div {
    clear: both;
    margin: 10px 0;
    padding: 0;
    .comments-row {
      margin: 0 0 10px 0;
      padding: 0 0 10px 0;
      border-bottom: 1px solid #ccc;
      .user-thumb {
        width: 25px!Important;
      }
      .user-comment-txt {
        margin: 0;
        padding: 0;
        width: 90%;
        float: left;
      }
      .user-comment-txt2 {
        margin: 0;
        padding: 0;
        width: 80%;
        float: left;
      }
    }
    p {
      margin: 0;
      padding: 0;
    }
  }
}

.gray-txt {
  color: #666!important;
}

/*
.answer-container { margin:10px 0 0 22px; padding:0;}
.answer-container .answer-div { margin:0;padding:10px; background:#fff; border:1px solid #ccc;}
.answer-container .answer-box { clear:both; margin:5px 0; padding:0 0 15px 0;}
.answer-container .answer-box:before, .answer-container .answer-box:after { display: table; line-height: 0; content: "";}
.answer-container .answer-box:after { clear: both;}
.answer-container .answer-box .answer-textarea{ margin:0; padding:0; float:left; display:inline-block; width:100%;}
.answer-container .answer-box .answer-textarea .textarea{ margin:0; padding:5px; border:1px solid #ccc; background:#fff; width:100%;}
.answer-container .answer-box .answer-btn{ margin:5px 0; padding:0; float:left; display:inline-block; width:27%;}

.answer-container .answer-box .answer-text{ margin:0 0 5px 0; padding:0 0 5px 0; float:left; display:inline-block; width:100%; border-bottom:1px solid #ccc;}
.answer-container .answer-box .answer-text .title { font-weight:bold; margin:0; padding:0;}
.answer-container .answer-box .answer-text .normal-txt {margin:0; padding:0; }

.answer-div-container { margin:10px 0; padding:0;}
.answer-div-content .user-thumb{ margin:0; padding:0; float:left; display:inline-block; width:8%;}
.answer-div-content .answer-text{ margin:0 0 5px 0; padding:0 0 5px 0; float:left; display:inline-block; width:85%; border-bottom:1px solid #ccc;}
.answer-div-content .answer-text .title { font-weight:bold; margin:0; padding:0;}
.answer-div-content .answer-text .normal-txt {margin:0; padding:0 0 10px 0; font-size:12px; color:#222; line-height:18px;}
*/

.hr-voting-arrow {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  width: 22%;
  border: 0px solid red;
  .voting-with-number {
    margin: 0;
    padding: 0;
    .numbers-bg {
      margin: 0;
      padding: 0;
      background: #d2d2d2;
      display: inline-block;
      -webkit-border-radius: 2px;
      border-radius: 2px;
    }
    .voting-up-arrow {
      margin: 0;
      padding: 0 2px 0 0;
      background: url(/assets/up-arrow.png) no-repeat 2px 8px;
      display: inline-block;
      &:hover {
        background: url(/assets/up-arrow-hover.png) no-repeat 2px 8px;
      }
    }
    .voting-down-arrow {
      margin: 0;
      padding: 0;
      background: url(/assets/down-arrow.png) no-repeat right 8px;
      display: inline-block;
      width: 10px;
      height: 17px;
      &:hover {
        background: url(/assets/down-arrow-hover.png) no-repeat right 8px;
      }
    }
    .numbers {
      margin: 0;
      padding: 0 5px 0 12px;
      display: inline-block;
      font-size: 10px;
      color: #222;
      font-weight: bold;
      letter-spacing: -1px;
      a {
        margin: 0;
        padding: 0 5px 0 12px;
        display: inline-block;
        font-size: 10px;
        color: #222;
        font-weight: bold;
        letter-spacing: -1px;
      }
    }
  }
}

.flash-msg-div {
  clear: both;
  margin: 20px 0;
  padding: 0;
  .success {
    clear: both;
    margin: 0;
    padding: 10px;
    background: #d8dfea;
    border: 1px solid #ccc;
    p {
      font-size: 14px;
      font-weight: bold;
      color: #222;
    }
  }
  .close-btn {
    margin: 0 5px 0 0;
    padding: 0;
    display: inline-block;
    position: relative;
    top: 2px;
  }
  .error {
    clear: both;
    margin: 0;
    padding: 10px;
    border: 1px solid #ccc;
    p {
      font-size: 14px;
      font-weight: bold;
      color: red;
    }
  }
}

.landing-left-panel {
  margin: 0 15px 0 0;
  padding: 0;
  float: left;
  width: 65%;
}

.landing-right-panel {
  margin: 0 0 0 0;
  padding: 0;
  float: left;
  width: 33%;
}

/* login page */

.login-banner-container {
  margin: 0 auto;
  padding: 0;
  background: url(/assets/login-banner.jpg) no-repeat center top;
  height: 461px;
}

.login-banner-txt {
  margin: 0 auto;
  padding: 50px 0 0 0;
  text-align: center;
  h2 {
    margin: 0 auto;
    padding: 50px 70px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    font-family: 'pt_sansregular';
    line-height: 30px;
    text-shadow: 2px 2px 0px #000000;
    filter: dropshadow(color = black, offx = 2, offy = 2);
  }
  h3 {
    margin: 0 auto;
    padding: 0 70px 40px 70px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-weight: normal;
    font-family: 'pt_sansregular';
    text-shadow: 1px 1px 0px #000000;
    filter: dropshadow(color = black, offx = 2, offy = 2);
  }
  .register-btn {
    margin: 0 auto;
    padding: 40px 0 0 0;
    .reg-btn-link {
      margin: 0 auto;
      padding: 10px 25px;
      color: #fff;
      font-size: 24px;
      font-weight: bold;
      background: #fd811e;
      text-transform: uppercase;
      -webkit-box-shadow: 0px 2px 2px 0px #000;
      box-shadow: 0px 2px 2px 0px #000;
      &:hover {
        background: #d86000;
      }
    }
  }
}

.login-btm-container {
  margin: 0 auto;
  padding: 0;
  background: url(/assets/login-btm-bg.jpg) no-repeat center top;
  height: 115px;
  .login-box {
    margin: 0 auto;
    padding: 30px 0;
    p {
      margin: 0;
      padding: 0 0 5px 30%;
    }
    label, .email-input, .pwd-input {
      margin: 0;
      padding: 0;
    }
    .inputbox {
      margin: 0;
      padding: 5px;
      border: 1px solid #ccc;
      color: #8c8b8b;
      font-size: 14px;
      background: #fff;
      width: 25%;
    }
    .remember-span {
      margin: 0;
      padding: 0;
      display: inline-block;
    }
    .forgot-span {
      margin: 0 0 0 70px;
      padding: 0;
      display: inline-block;
      a {
        color: #fd811e!important;
        font-size: 14px;
        &:hover {
          color: #222;
          text-decoration: underline;
        }
      }
    }
  }
}

.content-area {
  margin: 0;
  padding: 20px 0;
}

h2.page-title {
  margin: 0 0 10px 0;
  padding: 0 0 2px 0;
  font-size: 20px;
  border-bottom: 2px solid #3b5998;
}

.content-area p {
  margin: 0;
  padding: 0 0 10px 0;
  line-height: normal;
}

.credit-container {
  margin: 10px 0 0 0;
  padding: 10px 0 20px 0;
  border-top: 2px solid #ccc;
  // background: #fff;
  .credit-left {
    margin: 0 30px 0 20px;
    padding: 0;
    float: left;
    width: 55%;
  }
  .credit-right {
    margin: 0 0 0 130px;
    padding: 10px 0;
    float: left;
  }
  .credit-head-row {
    clear: both;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #666;
  }
  .credit-row {
    clear: both;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  .credit-head-row {
    &:before, &:after {
      content: "";
      display: table;
    }
  }
  .credit-row {
    &:before, &:after {
      content: "";
      display: table;
    }
  }
  .credit-head-row:after, .credit-row:after {
    clear: both;
  }
  .credit-col1 {
    margin: 0 10px 0 0;
    padding: 0;
    float: left;
    width: 73%;
  }
  .credit-col2 {
    margin: 0 10px 0 0;
    padding: 0;
    float: right;
    width: 23%;
    text-align: right;
  }
  .lefttxt {
    padding-left: 30px;
  }
  span {
    color: #a6a6a6;
    font-size: 12px;
  }
}

.edit-account-container {
  margin: 0;
  padding: 20px 0 40px 0;
  // background: #fff;
  .acount-left {
    margin: 0;
    padding: 0 30px 0 20px;
    float: left;
    width: 77%;
  }
  .acount-right {
    margin: 0 0 0 2%;
    padding: 0;
    float: left;
    width: 20%;
  }
  .account-row {
    margin: 0;
    padding: 5px 0;
    width: 70%;
    border-bottom: 1px solid #ccc;
    &:before {
      content: "";
      display: table;
    }
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  .account-col1 {
    margin: 0;
    padding: 0;
    float: left;
    width: 60%;
  }
  .account-col2 {
    margin: 0;
    padding: 0;
    float: left;
    width: 40%;
  }
  .accountul {
    margin: 0 0 0 15px;
    padding: 0;
    li {
      margin: 0;
      padding: 0 0 5px 0;
      list-style: disc;
      color: #666;
      a {
        margin: 0;
        padding: 0;
        color: #3b5998;
        font-size: 14px;
        &:hover {
          color: #222;
          text-decoration: underline;
        }
      }
    }
  }
}

.rows-full-txt {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
}

.qa-container .qa-row {
  .left-full-box {
    margin: 0 0 10px 0;
    padding: 0;
    float: left;
    width: 5%;
    color: #222;
    font-size: 12px;
    line-height: normal;
  }
  .right-full-box {
    margin: 0 0 10px 0;
    padding: 0;
    float: left;
    width: 95%;
    color: #222;
    font-size: 12px;
    line-height: normal;
  }
}

.profile-pic-box {
  margin: 5px 0 0 0;
  padding: 0;
  background: #fff;
  .pic-div {
    margin: 0;
    padding: 10px;
    width: 50%;
    float: left;
    img {
      margin: 0;
      padding: 0;
      border: 2px solid #ccc;
    }
  }
  .profile-txt-div {
    margin: 0;
    padding: 10px 0 0 0;
    float: left;
    width: 50%;
    p {
      margin: 0;
      padding: 0 0 5px 0;
      font-size: 12px;
      line-height: normal;
    }
    a {
      margin: 0;
      padding: 0;
      font-size: 12px!important;
      line-height: normal;
    }
  }
}

.small-unfollow-btn {
  margin: 0 0 0 10px;
  padding: 0 0 0px 0;
  display: inline-block;
  position: relative;
  top: -4px;
  a {
    margin: 0;
    padding: 0;
    background: url(/assets/small-unfollow-btn.png) no-repeat left top;
    width: 51px;
    height: 24px;
    display: inline-block;
    &:hover {
      background: url(/assets/small-unfollow-btn.png) no-repeat left -23px;
    }
  }
}

.small-txt {
  font-family: 'pt_sansregular';
  font-size: 14px;
  text-transform: none;
}

.sign-container, .blog-container, .about-container, .help-container, .privacy-container {
  margin: 0;
  padding: 20px;
  background: #fff;
  ul {
    list-style-type: disc ;
    margin: 10px;
    li {
      margin: 10px;
      padding-left: 30px;
    }
  }
  ol {
   margin: 10px;
    li {
      margin: 10px;
      padding-left: 30px;
    } 
  }
}

.sign-container p, .blog-container p, .about-container p, .help-container p {
  margin: 0;
  padding: 0 0 15px 0;
}

.sign-container {
  label {
    margin: 0;
    padding: 0;
    &.lbltxt, &.input-box {
      margin: 0;
      padding: 0;
    }
  }
  .inputbox {
    margin: 0;
    padding: 5px;
    border: 1px solid #ccc;
    color: #8c8b8b;
    font-size: 14px;
    background: #fff;
    width: 50%;
  }
}

@font-face {
  font-family: 'vag_roundedbold';
  src: url('/assets/fonts/vag_rounded_bold-webfont.eot');
  src: url('/assets/fonts/vag_rounded_bold-webfont.eot?#iefix') format("embedded-opentype"), url('/assets/fonts/vag_rounded_bold-webfont.woff') format("woff"), url('/assets/fonts/vag_rounded_bold-webfont.ttf') format("truetype"), url('/assets/fonts/vag_rounded_bold-webfont.svg#vag_roundedbold') format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'pt_sansregular';
  src: url('/assets/fonts/pts55f_0-webfont.eot');
  src: url('/assets/fonts/pts55f_0-webfont.eot?#iefix') format("embedded-opentype"), url('/assets/fonts/pts55f_0-webfont.woff') format("woff"), url('/assets/fonts/pts55f_0-webfont.ttf') format("truetype"), url('/assets/fonts/pts55f_0-webfont.svg#pt_sansregular') format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'pt_sansbold';
  src: url('/assets/fonts/pts75f_0-webfont.eot');
  src: url('/assets/fonts/pts75f_0-webfont.eot?#iefix') format("embedded-opentype"), url('/assets/fonts/pts75f_0-webfont.woff') format("woff"), url('/assets/fonts/pts75f_0-webfont.ttf') format("truetype"), url('/assets/fonts/pts75f_0-webfont.svg#pt_sansbold') format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MatrixditRegular';
  src: url('/assets/fonts/matrixdit.eot');
  src: url('/assets/fonts/matrixdit.eot#iefix') format("embedded-opentype"), url('/assets/fonts/matrixdit.woff') format("woff"), url('/assets/fonts/matrixdit.ttf') format("truetype"), url('/assets/fonts/matrixdit.svg#MatrixditRegular') format("svg");
}

@font-face {
  font-family: 'dhelvetica';
  src: url('/assets/fonts/texgyreheros-regular.otf') format("opentype");
}

@font-face {
  font-family: 'dhelvetica';
  font-weight: bold;
  src: url('/assets/fonts/texgyreheros-bold.otf') format("opentype");
}


@font-face {
  font-family: 'dhelvetica';
  font-weight: normal;
  font-style: italic;
  src: url('/assets/fonts/texgyreheros-italic.otf') format("opentype");
}


@font-face {
  font-family: 'dhelvetica';
  font-weight: bold;
  font-style: italic;
  src: url('/assets/fonts/texgyreheros-bolditalic.otf') format("opentype");
}

@font-face {
  font-family: 'dhelvetica-narrow';
  src: url('/assets/fonts/texgyreheroscn-regular.otf') format("opentype");
}

@font-face {
  font-family: 'dhelvetica-narrow';
  font-weight: bold;
  src: url('/assets/fonts/texgyreheroscn-bold.otf') format("opentype");
}


@font-face {
  font-family: 'dhelvetica-narrow';
  font-weight: normal;
  font-style: italic;
  src: url('/assets/fonts/texgyreheroscn-italic.otf') format("opentype");
}


@font-face {
  font-family: 'dhelvetica-narrow';
  font-weight: bold;
  font-style: italic;
  src: url('/assets/fonts/texgyreheroscn-bolditalic.otf') format("opentype");
}


/* New css */

.reg-follow-btn {
  margin: 0 0 10px 0px;
  display: inline-block;
  position: relative;
  top: 0;
  a {
    margin: 0;
    padding: 5px 12px!important;
    background: #68d746;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    &:hover {
      background: #48aa29;
    }
  }
}

.reg-small-follow-btn {
  margin: 0 0 10px 0px;
  padding: 0;
  display: inline-block;
  position: relative;
  top: 0;
  a {
    margin: 0;
    padding: 2px 5px!important;
    background: #68d746;
    display: inline-block;
    color: #fff;
    font-size: 12px;
    &:hover {
      background: #48aa29;
    }
  }
}

.comments-container .comment-box .comment-text .time {
  margin: 0;
  padding: 0;
  font-size: 11px!important;
  color: #666;
}

/* login / register pop box */

.alphapitchbox-window {
  margin: 0;
  padding: 0;
  z-index: 110000;
}

.regi-sign-box {
  background-color: #FFFFFF;
  border: 5px solid #3b5998;
  color: #222;
  padding: 0;
  margin: 0;
  width: 100%;
  background: #9fafd1;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #9fafd1 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #9fafd1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #9fafd1 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #9fafd1 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #9fafd1 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, white 0%, #9fafd1 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#9fafd1',GradientType=0 );
  /* IE6-9 */
}

.top_title_area .text {
  font-size: 18px;
  line-height: normal;
  padding: 10px 20px;
  color: #fff;
}

.regi-sign-box {
  .joinNow_content {
    margin: 0;
    padding: 0;
    float: left;
    width: 70%;
    .top_title_area {
      margin: 0;
      padding: 20px;
      float: left;
      width: 50%;
      background: white url(/assets/alpha-stock-img.png) no-repeat center bottom;
      height: 310px;
    }
    .register_form {
      margin: 0;
      padding: 20px;
      float: left;
      width: 50%;
      background: #d8dfea;
      /* Old browsers */
      background: -moz-linear-gradient(top, white 0%, #d8dfea 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #d8dfea));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, white 0%, #d8dfea 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, white 0%, #d8dfea 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, white 0%, #d8dfea 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, white 0%, #d8dfea 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d8dfea',GradientType=0 );
      /* IE6-9 */
    }
  }
  .readlater_login {
    margin: 0;
    padding: 20px;
    float: left;
    width: 30%;
  }
  h3 {
    color: #000;
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #3b5998;
  }
  form fieldset {
    margin-bottom: 10px;
    display: block;
  }
  fieldset {
    span {
      display: block;
      font-size: 14px;
      padding: 0 0 1px;
    }
    .inputbox {
      margin: 0;
      padding: 5px;
      border: 1px solid #ccc;
      background: #fff;
      width: 100%;
    }
  }
}

h4.oops-title {
  margin: 50px 0 80px 0;
  padding: 0;
  font-size: 60px;
  text-align: center;
}

h5.error-title {
  margin: 0 0 50px 0;
  padding: 0;
  font-size: 40px;
  text-align: center;
}


/* Custom settings */

.blip-item {
    .left-box {
    margin: 0 5px 0 0;
    padding: 0;
    float: left;
    width: 7%;
    color: #222;
    font-size: 12px;
    line-height: normal;
  }
  .right-box {
    margin: 0;
    padding: 0;
    float: left;
    width: 90%;
    color: #222;
    font-size: 12px;
    line-height: normal;
  }
}



.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.dropdown p {
  display: inline-block;
  font-weight: bold;
}

.dropdown select {
      border: 1 !important;  /*Removes border*/
      -webkit-appearance: none;  /*Removes default chrome and safari style*/
      -moz-appearance: none; /* Removes Default Firefox style*/
      background: url('dropdown_arrow.gif') no-repeat;  /*Adds background-image*/
      background-position: 80px 1px;  /*Position of the background-image*/
      width: 100px; /*Width of select dropdown to give space for arrow image*/
      text-indent: 0.01px; /* Removes default arrow from firefox*/
      text-overflow: "";  /*Removes default arrow from firefox*/

      /*My custom style for fonts*/

      color: #1455a2;
}

select::-ms-expand {
display: none;
}
