<div id="flash-message_custom" class="flash-msg-div">
<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="<%= name == :notice ? "success" : "error" %>">
      <p>
        <span class="close-btn">
          <a href="#" ><%= image_tag 'close-btn.png' %></a>
        </span>
        <%= msg %>
      </p>
    </div>
  <% end %>
<% end %>
</div>

<script>
  $(".close-btn").click(function(){
    $("#flash-message_custom").hide();
  });
</script>
