<div id="flash-message" class="flash-msg-div">
<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="<%= name == :notice ? "success" : "error" %>">
      <p>
        <span class="close-btn">
            <a href="#" class="close-btn">
              <img src="/assets/close-btn.png" class="close-btn" alt="">
            </a>
        </span>
        <%= msg %>
      </p>
    </div>
  <% end %>
<% end %>
</div>

<div id="flash-message-custom" class="flash-msg-div" style="display: none">

</div>

<script>
  $(document).ready(function(){
      $(".close-btn").click(function(){
          $("#flash-message-custom").hide();
      });
  });
</script>
